body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.container
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #2d2d2d;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    flex-grow: 1;
}

.dice{
    background-color: rgb(90, 90, 90);
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table{
    background-color: rgb(90, 90, 90);
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.rules{
    background-color: #e1dede;
    height: auto;
    grid-column: 1 / 3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    text-align: left;
}

.textBox
{
    margin-left: 10%;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
}


footer{
    background-color: #2d2d2d;
    width: 100%;
    padding-top: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}